main {
  .header {
    .header__menu {
      .header__menu-link > a {
        padding-right: 2rem;
        a {
          cursor: pointer;
        }
      }
      img {
        width: 200px;
        height: auto;
      }
    }
  }

  .header:hover {
    background-color: rgb(242, 242, 242);
  }
}
