<main>
  <div class="header d-flex justify-content-between px-3 align-items-center">
    <div class="header__menu d-flex align-items-center">
      <img src="../../../../assets/logo.png" alt="" />
      <div class="header__menu-link">
        <a class="text-uppercase text-decoration-none text-dark">new in</a>
        <a class="text-uppercase text-decoration-none text-dark">women</a>
        <a class="text-uppercase text-decoration-none text-dark">men</a>
        <a class="text-uppercase text-decoration-none text-dark">children</a>
      </div>
    </div>
    <div class="header__menu--btn d-flex align-items-center">
      <button class="btn"><i class="bi bi-search fw-bolder fs-5"></i></button>
      <app-login></app-login>
      <button class="btn">
        <i class="bi bi-bag fw-bolder fs-5"></i>
      </button>
    </div>
  </div>
</main>
